
/* body {
    background-color: black;
} */

/* h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 60px;
} */

/* p {
   font-size: 125px;
   font-family:Times, sans-serif;
} */

/* a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
} */

